<eul-feed inline-template :src="'{{feed}}'" :model="{{JSONstringify model}}" :limit="{{default limit 5}}" :type="'{{default type 'json'}}'">

  <div class="feed" data-feed="{{feed}}">
    {{> tokens-heading level=3 classes='feed-heading' icon=(default icon 'material-rss_feed')}}
    <div class="feed-content">
      {{> molecules-feed-item foreach='item in limited' use='item'}}
    </div>
    {{#if button}}
      {{#with button}}{{> atoms-button-link classes='feed-button' label=(default label (combine 'View All ' ../heading)) icon=false}}{{/with}}
    {{/if}}
  </div>

</eul-feed>

<noscript>
  The feed could not be loaded because JavaScript is disabled. To view this content, please enable JavaScript in your browser, then try again.
</noscript>
