{{! Get the sidebar sections and their content. }}
{{assign 'sections' (getSidebar this)}}

<div class="bio-page">

  {{> organisms-header classes='bio-page-header'}}

  {{#extend 'organisms-main' type="bio-page" classes="bio-page-main"}}
    {{#content 'section-main-body'}}

      {{! Insert education if given. }}
      {{#if education}}

        {{> tokens-heading level=2 heading='Education' classes='' alternate=false icon=false}}

        <ul class="list -bulleted">
        {{#each education}}
          <li class="list-item">{{degree}}{{#if major}}, {{major}}{{/if}}{{#if concentration}} (emphasis on {{concentration}}){{/if}}{{#if school}}, {{school}}{{/if}}{{#if address}}, {{address}}{{/if}}</li>
        {{/each}}
        </ul>

      {{/if}}

      {{! Insert biography if given. }}
      {{#if bio}}

         {{> tokens-heading level=2 heading='Professional Profile' classes='' alternate=false icon=false}}

        {{#if markdown}}{{{markdown bio}}}{{else}}{{{bio}}}{{/if}}

      {{/if}}

    {{/content}}
    {{#content 'section-main-sidebar'}}

      {{> compounds-sidebar-list divider=(objectify start=true end=true)}}

    {{/content}}

  {{/extend}}

  {{> organisms-footer classes='bio-page-footer'}}

</div>
