{{assign 'now' (lowercase (formatDate today 'dddd') )}}

{{! Loop through each location added to the page }}
{{#each locations}}
  {{!-- {{assign 'semester-hours.exceptions' semester-hours.exceptions.exception}} --}}
  {{assign 'heading' location}}

  {{! Loop through the location's semester hours and capture the property's name }}  
  {{assign 'semester-hours' (arrayify semester-hours)}}
    {{! Check exceptions against today. }}
    {{#each ../exceptions.exception}}

      {{! Transform AM/PM to a.m./p.m. to match AP Style Guide}}
      {{#if (eq open.am-pm 'AM')}}
        {{assign 'open.am-pm' 'a.m.'}}
      {{/if}}

      {{#if (eq open.am-pm 'PM')}}
        {{assign 'open.am-pm' 'p.m.'}}
      {{/if}}

      {{#if (eq close.am-pm 'AM')}}
        {{assign 'close.am-pm' 'a.m.'}}
      {{/if}}
      
      {{#if (eq close.am-pm 'PM')}}
        {{assign 'close.am-pm' 'p.m.'}}
      {{/if}}

      {{#if (and (momentIsSameOrBeforeToday start-date) (momentIsSameOrAfterToday end-date))}}

        {{#if (eq type 'Closed')}}
          <p>Closed</p>
        {{else if (eq type 'Alternative Hours')}}
            <p>Today's Special Hours: {{#with open}} {{combine hour ':' minute ' ' am-pm}} {{/with}}–{{#with close}} {{combine hour ':' minute ' ' am-pm}}{{/with}}</p>
        {{/if}}

      {{/if}}
      {{#each semester-hours}}

        {{! Check if the semester is current }}    
        {{#if (and (momentIsSameOrBeforeToday start-date) (momentIsSameOrAfterToday end-date))}}

          {{#each this as |value key|}}

            {{! Transform AM/PM to a.m./p.m. to match AP Style Guide}}
            {{#if (eq open.am-pm 'AM')}}
              {{assign 'open.am-pm' 'a.m.'}}
            {{/if}}

            {{#if (eq open.am-pm 'PM')}}
              {{assign 'open.am-pm' 'p.m.'}}
            {{/if}}

            {{#if (eq close.am-pm 'AM')}}
              {{assign 'am-pm' 'a.m.'}}
            {{/if}}
            
            {{#if (eq close.am-pm 'PM')}}
              {{assign 'am-pm' 'p.m.'}}
            {{/if}}
            
            {{#if (eq @key ../../../now) }}
            
              {{storageSet 'default' this}}
            {{/if}}
          {{/each}}
        {{/if}}


    {{/each}}


  {{/each}}
{{!-- 

  {{#each this as |value key|}}

    {{! Check if the semester is current }}
    {{#if (and (momentIsSameOrBeforeToday start-date) (momentIsSameOrAfterToday end-date))}}

      {{! Run only through properties that are days of the week to find tomorrow }}
      
        {{#if (eq @key (lowercase (momentAddDays 1)))}}

          {{#with @value}}
            <p>{{capitalize @key}}: {{combine open.hour ':' open.minute ' ' open.am-pm}} – {{combine close.hour ':' close.minute ' ' close.am-pm}}</p>
          {{/with}}

        {{/if}}

    {{/if}}
  {{/each}}

  {{#each this as |value key|}}

    {{! Check if the semester is current }}
    {{#if (and (momentIsSameOrBeforeToday start-date) (momentIsSameOrAfterToday end-date))}}


        {{#if (eq @key (lowercase (momentAddDays 2)))}}

          {{#with @value}}
            <p>{{capitalize @key}}: {{combine open.hour ':' open.minute ' ' open.am-pm}} – {{combine close.hour ':' close.minute ' ' close.am-pm}}</p>
          {{/with}}

        {{/if}}

    {{/if}}
  {{/each}}

  {{#each this as |value key|}}

    {{! Check if the semester is current }}
    {{#if (and (momentIsSameOrBeforeToday start-date) (momentIsSameOrAfterToday end-date))}}

         {{#if (eq @key (lowercase (momentAddDays 3)))}}

          {{#with @value}}
            <p>{{capitalize @key}}: {{combine open.hour ':' open.minute ' ' open.am-pm}} – {{combine close.hour ':' close.minute ' ' close.am-pm}}</p>
          {{/with}}

        {{/if}}

    {{/if}}
  {{/each}}

  {{#each this as |value key|}}

    {{! Check if the semester is current }}
    {{#if (and (momentIsSameOrBeforeToday start-date) (momentIsSameOrAfterToday end-date))}}


        {{#if (eq @key (lowercase (momentAddDays 4)))}}

          {{#with @value}}
            <p>{{capitalize @key}}: {{combine open.hour ':' open.minute ' ' open.am-pm}} – {{combine close.hour ':' close.minute ' ' close.am-pm}}</p>
          {{/with}}

        {{/if}}

    {{/if}}
  {{/each}}

  {{#each this as |value key|}}

    {{! Check if the semester is current }}
    {{#if (and (momentIsSameOrBeforeToday start-date) (momentIsSameOrAfterToday end-date))}}

        {{#if (eq @key (lowercase (momentAddDays 5)))}}

          {{#with @value}}
            <p>{{capitalize @key}}: {{combine open.hour ':' open.minute ' ' open.am-pm}} – {{combine close.hour ':' close.minute ' ' close.am-pm}}</p>
          {{/with}}

        {{/if}}

    {{/if}}
  {{/each}}

  {{#each this as |value key|}}

    {{! Check if the semester is current }}
    {{#if (and (momentIsSameOrBeforeToday start-date) (momentIsSameOrAfterToday end-date))}}


        {{#if (eq @key (lowercase (momentAddDays 6)))}}

          {{#with @value}}
            <p>{{capitalize @key}}: {{combine open.hour ':' open.minute ' ' open.am-pm}} – {{combine close.hour ':' close.minute ' ' close.am-pm}}</p>
          {{/with}}

        {{/if}}

      {{/if}}
  {{/each}}

  {{#each this as |value key|}}

    {{! Check if the semester is current }}
    {{#if (and (momentIsSameOrBeforeToday start-date) (momentIsSameOrAfterToday end-date))}}

        {{#if (eq @key (lowercase (momentAddDays 7)))}}

          {{#with @value}}
            <p>{{capitalize @key}}: {{combine open.hour ':' open.minute ' ' open.am-pm}} – {{combine close.hour ':' close.minute ' ' close.am-pm}}</p>
          {{/with}}

        {{/if}}

      {{/if}}
  {{/each}} --}}

{{/each}}

<div class="hours-page">
  <header class="hours-page-header"></header>
  <div class="hours-page-main">

    {{#extend 'organisms-main' type='hours-page' classes='hours-page-main'}}
      {{#content 'section-main-body'}}
        {{> atoms-table}}
      {{/content}}
    {{/extend}}

  </div>
  <footer class="hours-page-footer"></footer>
</div>
