{{#unless (eq noscript true)}}
<eul-notification inline-template :uid="'{{id}}'" :defaults="{
                                                      isDismissible: {{default dismissible true}}
                                                    }">

  <transition name="fade">
    <div class="notification -{{default type 'caution'}}{{#if dismissible}} is-dismissible{{/if}}"
         data-label="{{default label 'Alert'}}"
         v-show="showing"
         v-cloak>
      <div class="notification-message">
        {{#if this.markdown}}{{{markdown message}}}{{else}}{{{message}}}{{/if}}
      </div>
      {{#if dismissible}}
      <button class="notification-dismiss"
              @click="dismiss"
              @keypress.native.enter="dismiss">
        {{> tokens-icon id='material-close'}}
      </button>
      {{/if}}
    </div>

  </transition>

</eul-notification>
{{/unless}}

{{#unless (eq noscript false)}}
{{#unless (eq noscript true)}}<noscript>{{/unless}}
  {{! TODO: Add checkbox toggle with respective show/hide styles to enable dismissible notifications when noscript is active.}}
  <div class="notification -{{default type 'caution'}}" data-label="{{default label 'Alert'}}">
    <div class="notification-message">
      {{#if this.markdown}}{{markdown message}}{{else}}{{{message}}}{{/if}}
    </div>
  </div>
{{#unless (eq noscript true)}}</noscript>{{/unless}}
{{/unless}}
