{{! Get formatted dates and extras. }}
{{assign 'date' (getDates date)}}
{{assign 'extras' (getExtras extras)}}
{{assign 'events' (getAllDates events)}}

<div class="exhibition-page">

  {{> organisms-header classes='exhibition-page-header'}}

  <div class="exhibition-page-main">

    {{> organisms-intro-hero background-image=hero}}

    {{#extend 'organisms-main' type='exhibition-page'}}

      {{#content 'section-main-subtitle'}}
        <span class="exhibition-page-main-context">
          {{date.formatted}} | {{location.building}}{{#if location.room}}, {{location.room}}{{/if}}{{#if location.level}}, {{location.level}}{{/if}}
        </span>
        {{#if quote}}<p class="exhibition-page-main-quote">&ldquo;{{trimSubstring quote '"'}}&rdquo;</p>{{/if}}
      {{/content}}

      {{#content 'section-main-body'}}
        {{#if this.markdown}}{{{markdown details}}}{{else}}{{{details}}}{{/if}}
      {{/content}}

      {{#content 'section-main-divider'}}
        <div class="exhibition-page-main-divider"></div>
      {{/content}}

      {{#content 'section-main-sidebar'}}

        {{! Display the image if available. }}
        {{#if image}}{{> molecules-figure caption=image.caption credit=image.credit}}{{/if}}

        {{! Display the date. }}
        <span class="exhibition-page-main-date">{{date.display}}</span>

        {{! Display visitor information. }}
        <div class="exhibition-page-main-sidenote">
          <h6 class="exhibition-page-main-sidenote-heading">Visitor Information</h6>
          <p class="exhibition-page-main-sidenote-content">
            The exhibition is located in the {{#if location.map}}<a href="{{location.map}}" class="link">{{location.building}}</a>{{else}}{{location.building}}{{/if}}{{#if location.room}} {{location.room}}{{/if}}{{#if location.level}} on {{location.level}}{{/if}}.
          </p>
          {{> atoms-link classes="exhibition-page-main-sidenote-link" href=visitation.link.href label=visitation.link.label}}
        </div>

        {{! Display parking information. }}
        <div class="exhibition-page-main-sidenote">
          <p class="exhibition-page-main-sidenote-content">
            Parking is available in the {{parking.location}}.
          </p>
          {{> atoms-link classes="exhibition-page-main-sidenote-link" href=parking.link.href label=parking.link.label}}
        </div>

        {{! Display contact information. }}
        {{#if contact}}
          <div class="exhibition-page-main-sidenote">
            <p class="exhibition-page-main-sidenote-content">
              For more information about the exhibit...
            </p>
            {{> atoms-link classes="exhibition-page-main-sidenote-link" href=(combine 'mailto:' contact) label=contact}}
          </div>
        {{/if}}

      {{/content}}

      {{#content 'section-main-other'}}
        {{#if events}}
        {{> compounds-cards columns=(objectify s=1 m=1 l=1 xl=1)
                            classes="section-main-content"
                            cards=events
                            card-type='listing'}}
        {{/if}}
      {{/content}}

    {{/extend}}

    {{#if (or (and sponsor (not (eq sponsor ''))) (gt (length extras.content) 0))}}
    {{> organisms-deep-dive heading=(default extras.heading 'Dive Deeper') columns=extras.content footer=(objectify text=sponsor)}}
    {{/if}}

  </div>

  {{> organisms-footer classes='exhibition-page-footer'}}

</div>
