{{! Get all icons and group them by iconset. }}
{{#each (getIcons)}}

  {{! Find Material icons. }}
  {{#startsWith 'material-' @key}}
    {{storagePush 'material-icons' (objectify svg=this id=@key meta=(objectify id=@key))}}
  {{/startsWith}}

  {{! Find Socicon icons. }}
  {{#startsWith 'socicon-' @key}}
    {{storagePush 'socicon-icons' (objectify svg=this id=@key meta=(objectify id=@key))}}
  {{/startsWith}}

{{/each}}

{{! Initialize the iconsets. }}
{{assign 'iconsets.0' (objectify name='Material' icons=(storageGet 'material-icons'))}}
{{assign 'iconsets.1' (objectify name='Socicon' icons=(storageGet 'socicon-icons'))}}

{{#each iconsets}}

  <div class="pl-iconset">

    <h3 class="pl-iconset-name">{{name}}</h3>

    <div class="pl-iconset-icons pl-grid" style="--columns-s: 2; --columns-m: 3; --columns-l: 4;">

      {{#each (sortBy icons 'id')}}

        <div class="pl-grid-item ">

          {{#if name}}<strong class="pl-grid-item-id">{{name}}</strong>{{/if}}

          <div class="pl-iconset-icon -{{lowercase ../name}} pl-grid-item-info" title="{{id}}">
            {{{svg}}}
            {{!> tokens-icon }}

          </div>

          {{#if meta}}
            {{#each meta}}

              <div class="pl-grid-item-meta">

                  <strong class="pl-grid-item-meta-label">{{@key}}</strong>

                  <span class="pl-grid-item-meta-data copy" data-clipboard-text="{{.}}">{{.}}</span>

              </div>

            {{/each}}
          {{/if}}

        </div>

      {{/each}}

    </div>

  </div>

{{/each}}
