<div class="input-field{{#if (or (eq type 'radio') (eq type 'checkbox'))}} -inline{{/if}}">
  <input type="{{#isnt (eq type 'text')}}{{type}}{{else}}text{{/isnt}}"
         class="input{{#isnt (eq type 'text')}} -{{type}}{{/isnt}}{{#if focus}} is-focused{{/if}}{{#if valid}} is-valid{{/if}}{{#if invalid}} is-invalid{{/if}}{{#if disabled}} is-disabled{{/if}}{{#if (and (or (eq type 'checkbox') (eq type 'radio')) checked) }} is-checked{{/if}}"{{#if disabled}} disabled{{/if}}{{#if (and (or (eq type 'checkbox') (eq type 'radio')) checked) }} checked{{/if}}
         {{#unless (and type (not type 'text'))}}placeholder="{{placeholder}}"{{/unless}}
         {{#if (eq type 'radio')}}name="{{group}}"{{/if}}
         id="{{id}}">
  <label class="input-label" for="{{id}}">{{label}}</label>
</div>
