{{! Generate a unique ID for the search menu if none was given. }}
{{#if (not this.uid)}}{{assign 'uid' (uid 'search-menu--')}}{{/if}}

{{! Generate a unique ID for the search box. }}
{{assign 'searchUID' (uid 'search--')}}

{{! Generate a unique group ID for tabs. }}
{{assign 'tabUID' (uid 'tab--')}}

{{! Generate unique IDs for tabs. }}
{{#each tabs}}

  {{! Assign the tab a unique ID based on its value, which should map to a search field. }}
  {{assign 'uid' (combine (default ../tab-prefix '') 'search-menu-toggle--' (dashcase (lowercase value)))}}

  {{! Add the tabs' unique group ID as the group name. }}
  {{assign 'group' (combine (default ../tab-prefix '') ../tabUID)}}

{{/each}}

{{! Determine which tab should be selected by default. }}
{{! NOTE: This is typically handled at the tab menu level, which is fine when JS is enabled, but we need it here for noscript scenarios. }}
{{#if (gt (length (filterWhere tabs 'active' true '===')) 0)}}
  {{assign 'selected' (get 'uid' (itemAt (filterWhere tabs 'active' true '===') 0))}}
{{else if (gt (length (filterWhere tabs 'selected' true '===')) 0)}}
  {{assign 'selected' (get 'uid' (itemAt (filterWhere tabs 'selected' true '===') 0))}}
{{else if (gt (length (filterWhere services 'default' true '===')) 0)}}
  {{assign 'selected' (combine (default tab-prefix '') 'search-menu-toggle--' (get 'id' (itemAt (filterWhere services 'default' true '===') 0)))}}
{{else}}
  {{assign 'selected' (get 'uid' (itemAt tabs 0))}}
{{/if}}

{{#unless (eq noscript true)}}
<div class="search-menu -{{default theme 'dark'}}{{#if home}} -home{{/if}}{{#if classes}} {{classes}}{{/if}}" data-uid="{{this.uid}}" role="group" aria-label="Search options">

  {{! Always add toggles for tabs and search boxes. }}
  {{! NOTE: This is required to enable noscript functionality. }}
  {{#each tabs}}

    {{! Determine if the tab should be active. }}
    {{#if (eq ../selected this.uid)}}
      {{assign 'active' true}}
    {{else}}
      {{assign 'active' false}}
    {{/if}}

    <input type="radio" class="search-menu-toggle" aria-label="{{label}}" id="{{this.uid}}" name="{{group}}"{{#if active}} checked{{/if}}>

  {{/each}}
  <span class="search-menu-context">{{default context 'Searching:'}}</span>

  <div class="search-menu-tabs">
    {{> compounds-tab-menu theme=(default theme 'dark') relay=searchUID search=true noscript=false}}
  </div>

  <div class="search-menu-search">
    {{#unless home}}
      {{> atoms-search mode='small' aria-label=(default aria-label search.aria-label) layout=false cancel=(objectify label=(default cancel 'Cancel')) uid=searchUID noscript=false}}
    {{else}}
      {{> atoms-search mode='big' aria-label=(default aria-label search.aria-label) layout='contained' cancel=(objectify label=(default cancel 'Cancel')) uid=searchUID noscript=false}}
    {{/unless}}
  </div>

  <div class="search-menu-back">
    {{#with back}}{{> atoms-button-toggle classes='search-menu-back' for=../uid}}{{/with}}
  </div>

</div>
{{/unless}}

{{#unless (eq noscript false)}}
{{#unless (eq noscript true)}}<noscript>{{/unless}}
  <div class="search-menu -{{default theme 'dark'}}{{#if home}} -home{{/if}}{{#if classes}} {{classes}}{{/if}}" data-uid="{{this.uid}}">

    {{! Always add toggles for tabs and search boxes. }}
    {{! NOTE: This is required to enable noscript functionality. }}
    {{#each tabs}}

      {{! Determine if the tab should be active. }}
      {{#if (eq ../selected this.uid)}}
        {{assign 'active' true}}
      {{else}}
        {{assign 'active' false}}
      {{/if}}

      <input type="radio" class="search-menu-toggle" aria-label="{{label}}" id="{{this.uid}}" name="{{group}}"{{#if active}} checked{{/if}}>

    {{/each}}

    <span class="search-menu-context">{{default context 'Searching:'}}</span>

    <div class="search-menu-tabs">
      {{> compounds-tab-menu theme=(default theme 'dark') relay=searchUID search=true noscript=true}}
    </div>
    <div class="search-menu-search">
      {{{_inspect search}}}
      {{#unless home}}
        {{> atoms-search mode='small' aria-label=(default aria-label search.aria-label) layout=false cancel=(objectify label=(default cancel 'Cancel')) uid=searchUID noscript=true}}
      {{else}}
        {{> atoms-search mode='big' aria-label=(default aria-label search.aria-label) layout='contained' cancel=(objectify label=(default cancel 'Cancel')) uid=searchUID noscript=true}}
      {{/unless}}
    </div>

    <div class="search-menu-back">
      {{#with back}}{{> atoms-button-toggle classes='search-menu-back' for=../uid}}{{/with}}
    </div>

  </div>
{{#unless (eq noscript true)}}</noscript>{{/unless}}
{{/unless}}
