{{! Set an active site if none was set. }}
{{#if (eq (length (filterWhere sites 'active')) 0)}}

  {{! Set the first site to active by default. }}
  {{assign 'sites.0.active' true}}

{{/if}}

{{#unless (eq noscript true)}}
<eul-branding-header inline-template v-cloak>

  <div class="branding-header">
    <a class="branding-header-badge" href="{{baseUrl}}/">
      {{! NOTE: This first logo is used to create a stroke. }}
      {{> tokens-logo id='Emory-Badge' hyperlink=false}}
      {{! NOTE: This second logo is used to display. }}
      {{> tokens-logo id='Emory-Badge' hyperlink=false}}
    </a>
    <a href="http://emory.edu" class="branding-header-organization">Emory University</a>
    <a href="{{baseUrl}}/" class="branding-header-division">{{get 'site' (itemAt (filterWhere sites 'active' true) 0)}}</a>
    <div class="branding-header-dropdown">
      <select class="branding-header-dropdown-menu"
              v-model="selection"
              @change="redirect">
        <option value="">Select a Location</option>
        {{#each sites}}
          {{#unless active}}
          <option value="{{href}}">{{site}}</option>
          {{/unless}}
        {{/each}}
      </select>
    </div>
  </div>

</eul-branding-header>
{{/unless}}

{{#unless (eq noscript false)}}
{{#unless (eq noscript true)}}<noscript>{{/unless}}
  <div class="branding-header">
    <a class="branding-header-badge" href="{{baseUrl}}/">
      {{! NOTE: This first logo is used to create a stroke. }}
      {{> tokens-logo id='Emory-Badge' hyperlink=false}}
      {{! NOTE: This second logo is used to display. }}
      {{> tokens-logo id='Emory-Badge' hyperlink=false}}
    </a>
    <a href="http://emory.edu" class="branding-header-organization">Emory University</a>
    <a href="{{baseUrl}}/" class="branding-header-division">{{get 'site' (itemAt (filterWhere sites 'active' true) 0)}}</a>
  </div>
{{#unless (eq noscript true)}}</noscript>{{/unless}}
{{/unless}}
