<a href="{{href}}" class="flyout-feed-item{{#if image}} has-thumbnail{{/if}}">
  {{#if image}}
  <div class="flyout-feed-item-thumbnail">
    {{> atoms-image src=image decorative=true}}
  </div>
  {{/if}}
  <span class="flyout-feed-item-date">{{this.date}}</span>
  <span class="flyout-feed-item-heading">{{heading}}</span>
  {{#if description}}<span class="flyout-feed-item-description">{{{ellipsis (sanitize description) 150}}}</span>{{/if}}
  {{#if label}}
  <div class="flyout-feed-item-link">
    <button class="link flyout-feed-item-link">{{label}}</button>
  </div>
  {{/if}}
</a>
